*{
    padding: 0px;
    margin: 0px;
}

header,footer{
    text-align: center;
    font-size: 30px;
    padding: 30px;
    color: white;
    background: black;
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 15px;
}
main{
    display: flex;
}
main section{
    flex:1;
    margin: 20px;
}
input{
    display: block;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
}